.about {
  margin-top: 120px;
  padding: 70px 40px;
  background: linear-gradient(135deg, var(--primary), #436255);
  border-radius: 25px;
  color: white;
}
.about-top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.about-top-grid .about-card {
  margin-top: 0;
}

.about-top-grid .info-box {
  min-height: 100%;
}
.about-header {
  text-align: center;
  margin-bottom: 50px;
}

.about-header h2 {
  font-size: 3rem;
}

.line {
  width: 80px;
  height: 4px;
  background: var(--secondary);
  margin: 15px auto;
  border-radius: 10px;
}

.about-content {
  max-width: 850px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.about-content p {
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.9);
}


.about-card {
    margin-top: 40px;
    overflow: hidden;
}
.about-card h3 {
  margin-bottom: 20px;
  color: var(--secondary);
  font-size: 1.4rem;
}
.info-box,
.about-card {
  height: auto;
}
.info-box {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  padding: 25px;
}

.info-box h4 {
  margin-bottom: 8px;
}

.info-box span {
  opacity: 0.8;
  font-size: 0.9rem;
}

.about-card p {
  line-height: 1.8;
}

/* Interest */

.interest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.interest-item {
  background: rgba(255, 255, 255, 0.08);
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.interest-item:hover {
  transform: translateY(-5px);
}

/* Facts */

.facts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.fact-card {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  transition: 0.3s;
}

.fact-card:hover {
  transform: translateY(-6px);
}

.fact-card i {
  font-size: 1.8rem;
  color: var(--secondary);
  margin-bottom: 15px;
}

.fact-card h4 {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .about-top-grid {
    grid-template-columns: 1fr;
  }
}
